.signup-main{
display: flex;
justify-content: center;
}
.signup-div{
margin: 5%;
width: 35vw;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
}
.logo img{
    
}

